.footer {
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0;

  &--label {
    width: max-content;
    margin: 0 auto;
    margin-top: 15px;
    color: #777;
    font-size: 14px;
    font-family: Dm Sans;
  }
}
